/* Layout ------------------------------------------------------------------- */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: #fff url("/orchid.gif") no-repeat bottom right;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
}

  main {
    flex: 1;
    margin: 1em;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    margin: 1em;
  }

  nav .nav {
    flex: 1;
    background-color: #C8D8C8;
    padding: 1em;
    margin: 0 0.5em;
  }

footer {
  width: 100%;
}

footer p {
  margin: 1em;
}


@media (min-width: 736px) {
  body {
    min-height: 100vh;
  }
  .body {
    flex-direction: row;
  }
  main {
    max-width: 40em;
  }
  nav {
    flex-direction: column;
    min-width: 15em;
    max-width: 20em;

    width: 30%;
    order: -1;
  }
  nav .nav {
    margin: 0 0 1em 0;
    flex: none;
  }
}


/* Typography --------------------------------------------------------------- */

body {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 1.4;
}

nav { 
  font-size: 80%;
}

h1, main .nav h2 {
  margin-top: 0;
  font-size: 200%;
  color: #7C1B51; 
  margin-bottom: 0.5em; 
  font-weight: normal; 
  font-family: Georgia, serif;
}

h2 {
  font-size: 100%;
  color: #333;
  margin-top: 0;
}

a {color: #111;}
a:visited {color: #666;}
nav a:hover {background-color: #889887}

ul, ol {
  list-style: outside;
  margin-left: 0.5em;
  padding-left: 1.5em
}

ol li, ul li {
  margin-bottom: 0.25em; 
  margin-left: 0;
}

.nav ul {
  list-style: none; 
  margin: 0; 
  padding-left: 0;
}

li.current a {background-color: #404D43; }
li.current a:link, li.current a:visited {color: #fff}

a:link {color: #3C0F1E}
