<% @title = "All recipes" %>

<div class="navigation cbb">
	<div class="categories"><%= render :partial => "categories_list", :locals => {:categories => @categories, :current => nil, :category_id => nil} %></div>
	</div>
</div>

<div class="contents">
	<h1>Wickham family recipes</h1>
	<p>Welcome to the Wickham family recipe database.  Choose a category on the left to get started, or use the search box below to search titles and ingredients.</p>
	
</div>